@media only screen and (max-width: 1065px) {
    .tb-div{
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 15px;
    }
    .tb{
        width: 1000px; 
    }
}
@media only screen and (max-width: 600px) {
    .header{
        flex-wrap: wrap;
        justify-content: center;
        height:auto;
        gap: 25px;
        margin-top: 35px;
    }
    .header__rightBlock{
        flex-wrap: wrap;
    }
    .nav{
        flex-direction: column;
        gap: 0;
    }
}