* {
    box-sizing: border-box;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{
    background-color: rgb(31,34,36);
    height: 1080px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#D6DDDE
}
button{
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: none;
    letter-spacing: 0.5px;
}
button:hover{
    opacity: 0.5;
}
input{
    display: none;
}
table{
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}
tr{
    height: 8px;
}
td{
    height: 44px;
}
th{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 0.6;
    padding-bottom: 7px;
}

.flex{
    display: flex;
    justify-content: center;
}
.container{
    flex-direction: column;
    margin: 0 32px 0 33px;
}

/* Header */

.header{
    justify-content: space-between;
    height: 106px;
}
.header__page-title{
    margin: auto 0;
    font-size: 28px;
}
.header__rightBlock{
    align-items: center;
    gap: 34px;
}
.header__rightBlock > div {
    position: relative;
    margin-left: -1px;
}
.header__logo{
    clip-path: polygon(0 0, 0 75%, 50% 100%, 100% 75%, 100% 0, 50% 7%);
    width: 48px;
    height: 48px;
    opacity: 0.25;
}
.free{
    background: #499861;
}
.pro{
    background: #598B8D;
}
.vip{
    background: #DA9422;
} 
.header__logo-text{
    position: absolute;
    top: 11px;
    left: -4px;
    width: 56px;
    height: 20px;
    opacity: 0.25;
    background: #131718;
    text-align: center;
    font-size: 14px;
}
.header__btn{
    width: 137px;
    height: 35px;
    background: #18A7FF;
    margin-bottom: 4px;
}

/* Navigation */

.nav{
    justify-content: start;
    gap: 39px;
    border-bottom: 1px solid rgba(139, 144, 145, 0.25);
    padding-left: 4px;
}
.nav__link{
    text-align: center;
    padding: 23px 12px 21px;
    opacity: 0.6;
    cursor:pointer;
}

/* Section */

.section{
    padding-top: 43px;
}
.section__name{
    margin-bottom: 24px;
}

/* Table */
.tb{
    margin-bottom: -3px;
}
.tb__row{
    background: #1A1C1E;
}
.tb__row td:first-child {
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
}
.tb__row td:last-child {
    border-bottom-right-radius: 4px; 
    border-top-right-radius: 4px; 
}
.tb__system-name{
    position: relative;
    padding-left: 16px;
    text-align: start;
    cursor: pointer;
}
.row-first{
    padding-left: 43px;
}
.row-first::before{
    position: absolute;
    top: 25%;
    left: 20px;
    content: "\1F892";
    font-size: 30px;
}
.tb__system-id{
    width: 45px;
    padding-right: 81px;
    text-align: end;
}
.tb__date{
    width: 121px;
    text-align: start;
}
.tb__active-licenses{
    width: 134px;
    text-align: end;
}
.tb__buttons{
    width: 341px;
    text-align: end;
    padding-right: 16px;
}
.tb__add-btn {
    background: #499861;
    width: 113px;
    height: 31px;
}
.tb__remove-btn {
    background: #CC4343;
    width: 82px;
    height: 31px;
    margin-left: 10px;
}
.tb__download-btn {
    width: 82px;
    height: 31px;
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: normal;
}
.sub-tb{
    position: relative;
    padding-left: 48px;
    margin-bottom: 23px;
    margin-top: 15px;
}
.sub-tb::before{
    position: absolute;
    content: '';
    left: 19px;
    top: -16px;
    width: 6px;
    height: calc(100% - 11px);
    background: #161819;
}
.sub-first::before{
    content: '';
    position: absolute;
    width: 27px;
    left: -27px;
    top: 44%;
    height: 6px;
    background: #161819;
}

/* File input */

.file-input{
    text-align: center;
    width: 100%;
    height: 231px;
    background: #16181942;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D6DDDE42' stroke-width='2' stroke-dasharray='4%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 4px;
    margin-bottom: 202px;
}
.file-input__arrow{
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: 2px solid #D6DDDE;
    padding-top: 8.67px;
    margin-top: 11px;
}
.file-input__label{
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 100%;
    gap: 28px;
}
.file-input__file {
    position: relative;
    width: 80px;
    height: 80px;
    background: #161819;
    border-radius: 4px; 
    /* margin: 23px 21px 24px */
}
.file-input__file > img {
    padding-top: 5px;
    width: 70px;
}
.remove{
    height: 15px;
    width: 15px;
    background: #CC4343;
    border-radius: 50%;
    right: -7.5px;
    top: -7.5px;
    position: absolute;
    font-size: 12px;
    line-height: 15px;
}

/* additional classes */

.highlighted {
    color: #18A7FF;
}
.activated {
    opacity: 1;
}
.clicked {
    border-bottom: 2px solid #18A7FF;
    opacity: 1;
}
.opened::before{
    top: 50%;
    left: 14px;
    content: "\1F893";
}
.uploaded{
    flex-direction: row;
    justify-content: flex-start;  
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 23px 24px;
    gap: 21px;
}
.hovered{
    background-color: #131718;
    opacity: 0.7;
}