* {
    box-sizing: border-box;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
    }
}
@keyframes remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
body {
    font-family: "Roboto";
    background: #e3e6f1;
    color: rgb(99, 99, 99);
    background: rgb(99, 99, 99);
}
button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    background: none;
    padding-top: 5px;
    border-radius: 4px;
    position: relative;
}
button span {
    visibility: hidden;
    width: 70px;
    background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 1s;
}
button span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
button:hover span {
    visibility: visible;
    opacity: 1;
}
input[type="text"] {
    height: 40px;
    width: 50vw;
    outline: none;
    border: 0;
    padding: 10px;
    color: rgb(99, 99, 99);
}
input[type="datetime-local"] {
    width: 0;
    border: none;
    visibility: hidden;
    padding: 0;
    height: 20px;
}
span {
    overflow-wrap: anywhere;
}
img {
    width: 20px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: column;
}

.title {
    text-align: center;
    color: white;
}
.add__input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.add__input:focus {
    padding-left: 25px;
    border: 2px solid #4bae4f;
}
.add__button {
    height: 40px;
    width: 40px;
    background-color: #4bae4f;
    color: white;
    font-size: 29px;
    margin-right: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.add__button:hover {
    opacity: 0.7;
}
.tasks {
    flex-direction: column;
    margin-top: 30px;
}
.task {
    justify-content: space-between;
    width: 70vw;
    background: rgb(248, 248, 248);
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px;
    padding-left: 20px;
    gap: 10px;
    font-size: 15px;
    animation: show 1s ease;
}
.task:hover {
    background-color: #e2e2e2;
    color: white;
}
.task__checkbox {
    cursor: pointer;
    pointer-events: all !important;
}
.task__edit-btn:hover {
    background-color: #4bae4f;
}
.task__save-btn:hover {
    background-color: #4bae4f;
}
.task__delete-btn:hover {
    background-color: rgb(228, 70, 70);
}
.task__date-btn:hover {
    background-color: #628dc7;
}
.task__cancel-btn:hover {
    background-color: #636363;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    pointer-events: none;
}
.removed {
    animation: remove 0.7s ease;
}
